{{#extend "layout"}}

{{#content "body"}}
<div class="container">
  <h1>Update <b>{{ editingAccount.username }}</b></h1>
  <form action="/accounts/update/{{ editingAccount.username }}" method="post">
    <fieldset>
      <label for="email">email</label>
      <input type="email" name="email" id="email" placeholder={{ editingAccount.email }} value={{ editingAccount.email }} class="full-width">
    </fieldset>
    
    {{#if account.admin}}
    <fieldset>
      <label for="admin">
        <input type="checkbox" name="admin" id="admin" {{checked editingAccount.admin}}> 
        admin
      </label>
    </fieldset>
    {{/if}}
    
    <div class="form-actions">
      <input type="submit" value="Update account">
    </div>
  </form>
</div>
{{/content}}

{{/extend}}
