{{#extend "layout"}}

{{#content "body"}}
<div class="container">
  <div class="col col-8 content">
    <h1>this is the index, so you're logged in</h1>
    
    <button class="button-grey small">This is a button</button>
    <button class="button-blue small">This is a button</button>
    <button class="button-teal small">This is a button</button>
    <button class="button-orange small">This is a button</button>
    <button class="button-red small">This is a button</button>
  </div>
  
  <div class="col col-4 sidebar">
    this is the sidebar
  </div>
</div>
{{/content}}

{{/extend}}
