header {
  width: 100%;
}

header ul#header-nav {
  margin: 6px 0px 0px 0px;
  padding: 7px 6px 5px;
  text-align: right;
  float: right;
  height: 50px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

header ul#header-nav li {
  list-style-type: none;
  display: inline-block;
}

header ul#header-nav a {
  color: #1E4147;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  padding: 3px 10px;
  height: 35px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #fff;
}

header ul#header-nav a:hover,
header ul#header-nav a:focus {
  color: #000;
  border-color: #dededa;
}

.site-title {
  margin-top: 0px;
  color: #F34A53;
  font-size: 25px;
  padding: 0px;
  float: left;
  height: 60px;
  line-height: 60px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}