@import "normalize.css";
@import "colors.css/myth/variables";
@import "basscss-grid";
@import "csskit";

:root {
  --blue: #334D5C;
  --teal: #45B29D;
  --yellow: #EFC94C;
  --orange: #E27A3F;
  --red: #DF4949;
}

@import "./typography.css";
@import "./header.css";
@import "./footer.css";
@import "./lists.css";
@import "./forms.css";
@import "./layout.css";